<footer class="bg-gray-200 py-10">
  <div class="w-11/12 mx-auto">
    <h2 class="m-0 text-2xl">Get Freshcart App</h2>
    <p class="text-gray-500 text-sm">
      we will send you a link, open it on your phone download the app
    </p>
    <div>
      <input
        type="text"
        class="w-full rounded-lg border-gray-300"
        placeholder="Email"
      />
      <button class="btn-main">shaer app link</button>
    </div>
    <hr />
    <div class="pay-details md:flex justify-between items-center my-5">
      <div class="flex items-center gap-2">
        <h3 class="text-sm m-0">payment partners</h3>
        <img class="w-12" src="/images/amazon-pay.png" alt="" />
        <img class="w-12" src="/images/American-Express-Color.png" alt="" />
        <img class="w-12" src="/images/paypal.png" alt="" />
        <img class="w-12" src="/images/mastercard.webp" alt="" />
      </div>

      <div class="flex items-center gap-2">
        <h3 class="h6 m-0">Get Deliveries Freshcart</h3>
        <img src="/images/get-google-play.png" width="100px" alt="" />
        <img src="/public/images/get-apple-store.png" width="100px" alt="" />
      </div>
    </div>
  </div>
</footer>
